body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

/* NAVBAR */
.navbar {
    background: #fdf35e;
    color: rgb(240, 132, 186);
    padding: 15px;
}

.logo {
    float: left;
    font-size: 22px;
    font-weight: bold;
}

.menu {
    float: right;
}

.menu a {
    color: rgb(240, 132, 186);
    text-decoration: none;
    margin-left: 15px;
}

.navbar::after {
    content: "";
    display: block;
    clear: both;
}

/* BANNER FOTO */
.banner {
    position: relative;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.banner-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* CONTAINER */
.container {
    width: 900px;
    margin: 30px auto;
    background: white;
    padding: 20px;
}

/* FOTO HOME */
.foto-home {
    width: 320px;
    height: 240px;
    object-fit: cover;
    float: right;
    margin-left: 20px;
    border-radius: 10px;
}

/* FOTO ABOUT */
.foto-about {
    width: 320px;
    height: 240px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
    border-radius: 10px;
}

/* GALLERY */
.gallery-container {
    width: 800px;
    margin: 30px auto;
    text-align: center;
}

.card {
    width: 360px;
    height: 450px;
    float: left;
    margin: 10px;
    background: white;
    padding: 10px;
}

.card img {
    width: 300px;
    height:300px;
    object-fit: cover;
}

.clear {
    clear: both;
}

/* FORM */
.form-container {
    width: 450px;
    margin: 40px auto;
    background: white;
    padding: 20px;
    text-align: center;
}

input, textarea, select, button {
    width: 400px;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    background: #77f551;
    color: white;
    border: none;
}

/* FOOTER */
.footer {
    background: #fdf35e;
    color: rgb(240, 132, 160);
    text-align: center;
    padding: 15px;
    clear: both;
}
